/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff2") format("woff2"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Light_1.eot");
  src: url("fonts/Raleway-Light_1.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light_1.woff2") format("woff2"),
    url("fonts/Raleway-Light_1.woff") format("woff"),
    url("fonts/Raleway-Light_1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Bold.eot");
  src: url("fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Bold.woff2") format("woff2"),
    url("fonts/Raleway-Bold.woff") format("woff"),
    url("fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Italic.eot");
  src: url("fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Italic.woff2") format("woff2"),
    url("fonts/Raleway-Italic.woff") format("woff"),
    url("fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Raleway";
  font-size: 16px;
  color: #2d2d2d;
  /* width: 1240px; */
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}
/*     SECTION   */

.site-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding-left: 20px;
  padding-right: 20px;
}
/* .logo {
  width: 20%;
  height: 10px;
} */
.logo img {
  width: 40%;
  display: flex;
  flex: 25%
}
.main-navigation ul li {
  display: inline-flex;
  flex-direction: row;
  padding: 30px;
  text-transform: uppercase;
  text-decoration: none;
} 

.nav-bar a {
  color: #e2574c;
  text-decoration: none;
}
.main-navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  /* order: 2; */
  height: 20px;
  /* border-top: solid #d7d7d7; */
  padding-top: 10px;
  text-align: center;
  align-content: center;
  flex: 50%;
}
.nav-bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* padding: 0 80px;
margin: 0 80px; */
} */



.cart {
  width: 50%;
  display: flex;
  justify-content: center;
  flex: 25%;
}

.banner {
  background: url(images/banner-girl.png) no-repeat center,
    url(images/flower-bkgd.jpg) repeat-x;
  display: flex;
  background-size: auto 500px;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.banner-text h1 {
  text-align: center;
  color: white;
  vertical-align: middle;
  margin: auto;
  padding: 20px 0;
  vertical-align: middle;
  border: 5px;
  font-family: "Playfair Display";
  text-transform: uppercase;
  line-height: 50px;
  font-size: 4rem;
}

.banner-text h2 {
  text-align: center;
  font-weight: bold;
  margin: auto;
  color: white;
  padding: 10px 0;
  vertical-align: middle;
  font-size: 1.5rem;
  border: 5px;
  font-family: "Playfair Display";
}
/*              SECTION            */

.hand-crafted-container {
  display: flex;
  text-align: center;
  height: 300px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: wrap;
}
/* 
.h3 {
  text-align: center;
  line-height: 3;
} */

.hand-crafted {
  font-style: italic;
  font-size: 2.4rem;
}

.styles {
  font-weight: bold;
  font-size: 2.4rem;
}
.text {
  align-content: center;
  line-height: 2;
  justify-content: center;
  padding-bottom: 50px;
  text-align: center;
  font-style: normal;
}
/*           SECTION           */

.categories-container {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-height: auto;
  max-width: 100%;
  position: relative;
}
.categories-container a {
  text-decoration: none;
  color: white;
  background-size: cover;
  text-align: center;
  height: auto;
  max-width: 100%;
  align-content: center;
}

/*          CAROUSEL  SECTION         */

.items p {
  text-align: center;
}

.images {
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.mens {
  background: url(images/mens-category.jpg);
  display: flex;
  flex: 40%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}
.trends {
  background-image: url(images/trends-category.jpg);
  display: flex;
  flex: 20%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  height: 12rem;
}
.glasses {
  background-image: url(images/glasses-category.jpg);
  display: flex;
  flex: 20%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}
.sale {
  background-image: url(images/sale-category.jpg);
  display: flex;
  flex: 20%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}
.bags {
  background-image: url(images/bags-category.jpg);
  display: flex;
  flex: 20%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}

.womans {
  background-image: url(images/womens-category.jpg);
  display: flex;
  flex: 40%;
  height: 12rem;
  position: relative;
  background-size: 100% 100%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}

h3 {
  display: flex;
  font-style: italic;
  text-align: center;
  justify-content: center;
  line-height: 100px;
}

.most-loved {
  font-style: italic;
  font-size: 2.4rem;
}

.products {
  font-weight: bold;
  font-size: 2.4rem;
}
.most-loved-products {
  margin: 50px 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  /* width: 1420px; */
}
.product-wrapper {
  text-align: center;
  line-height: 2;
  color: #969696;
  height: 500px;
}

.description {
  color: red;
  justify-content: center;
  text-align: center;
}

.product .price {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #969696;
}
/*        WAVE  SECTION         */

.wave-banner {
  background: url(images/wave-bkgd.jpg) no-repeat bottom;
  height: 300px;
  width: 100%;
}
.sign-up-for {
  font-style: italic;
  font-size: 2.4rem;
}
.update {
  font-weight: bold;
  font-size: 2.4rem;
}

.updates-container-header {
  align-content: center;
  text-align: center;
  color: white;
  height: auto;
  /* padding: 20px; */
}

.updates {
  font-family: Raleway;
  font-style: normal;
  text-align: center;
  color: white;
  padding: 10px 0;
  line-height: 30px;
  font-size: 16px;
}
/* h3 {
  text-align: center;
} */
.submit {
  border-radius: 25px;
  background-color: #e2574c;
  color: white;
  height: 1.75rem;
  width: 25%;
}
/* .submit:hover {
  background-color: #b64036;
} */

.text-box {
  width: 72%;
  border-radius: 25px;
  height: 2rem;
  border: none;
}
.form {
  text-align: center;
  color: white;
  border-radius: 25px;
  padding: auto 40px;
  background: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* .Your email {
  border-radius: 35%;
  width: 80px;
} */
/*           SECTION          */

.footer-container {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  background: #242424;
  padding: 5% 5%;
  font-family: playfair Display;
}

.footer {
  display: flex;
  max-width: 1240px;
  justify-content: left;
  align-items: center;
}

.info {
  text-align: left;
  color: white;
  justify-content: space-between;
  background-color: #242424;
  align-content: center;
  align-items: center;
  line-height: 1.5;
}
.address {
  color: #969696;
  align-items: flex-end;
  line-height: 1.5;
}

.social {
  text-align: left;
  color: white;
  align-items: space-between;
  justify-content: center;
  line-height: 30px;
}
.socials ul li {
  text-align: left;
  background-color: #242424;
  justify-content: space-bewteen;
}

          /*     @MEDIA     */

/*mobile*/
@media only screen and (min-width: 480px) {
  /* .logo img {
    width: 100%;
    display: flex;
    flex: 25%
  }
  
  .main-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    order: 2;
    height: 20px;
    border-top: solid #d7d7d7;
    padding-top: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
  .main-navigation ul li {
    display: inline-flex;
    flex-direction: row;
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
  } 

  .cart {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex: 25%;
  }
.most-loved-products {
    margin: 50px 70px;
    align-items: center;
    justify-content: center;
  }  */
/* .text {
  line-break: none;
} */
  

.footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer {
    justify-content: center;
  } */

  .footer-container: 
    padding: 5% 5%;

  .info {
    justify-content: center;
    align-content: center;
    text-align: center; 
  }

  /* .socials {
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    width: 80px;
  }  */ */

  .social span {
    display: none;
  } 
  /*tablet*/
  @media only screen and (min-width: 600px) {
    body {
      font-size: 16px;
    }
    /* .site-header {
      height: 50px; */
    }
    .main-navigation {
      display: flex;
      flex-wrap: nowrap;
      width: 20%;
      order: 1;
      border-top: none;
      padding-top: 0px;
      height: 30px; */
    }
    .main-navigation ul li {
      display: flex;
      flex: 25%;
      flex-direction: row;
      text-transform: uppercase;
      text-decoration: none;
      
    } 
    .nav-bar a {
      flex: 25%;
      display: flex;
      flex-direction: row;
      color: #e2574c;
      
      line-height: 30px;
      
     
    }
    .logo {
      display: flex;
      flex: 25% ;
      width: 30%;
    }
    .cart {
      order: 2;
      flex: 25%;
      display: flex;
      justify-content: flex-end;
    }
    .most-loved-products {
      margin: 50px 0px;
      align-items: center;
      justify-content: center;
    }
    .img {
      width: 100px;
    }
  .footer {
justify-content: center;
  }

  .socials {

  }

  

/*desktop*/
@media only screen and (min-width: 1240px) {
  .site-header {
    height: 100px; 
  } 
  .main-navigation {
    justify-content: center;
    width: 40%;
  }

  .mens,
  .trends,
  .glasses,
  .sale,
  .bags,
  .womans {
    height: 30vw;
  }

  .footer.footer-container {
    max-width: 1240px;
  }
}
